[submodule "ems-eureka-server"]
	path = ems-eureka-server
	url = https://github.com/rishitgupta2003/ems-eureka-server
[submodule "employee-service"]
	path = employee-service
	url = https://github.com/rishitgupta2003/employee-service
[submodule "department-service"]
	path = department-service
	url = https://github.com/rishitgupta2003/department-service
[submodule "organisation-service"]
	path = organisation-service
	url = https://github.com/rishitgupta2003/organisation-service.git
